$ff-montserrat: 'Montserrat', sans-serif;
$ff-poppins: 'Poppins', sans-serif;
$primary: #B88E2F;

// navbar
$navbar-bg: #FFFFFF;
$logo-color: #000000;
$logo-fs: 34px;

$navbar-color: #000000;
$navbar-fs: 16px;

//home page
//banner
$banner-bg: url('./images/background.png');
$card-bg: #FFF3E3;

$label-color: #333333;
$label-fs: 16px;

$title-banner-fs: 52px;

$banner-descr-color: #333333;
$banner-descr-fs: 18px;

$button-text-color: #FFFFFF;
$button-text-fs: 16px;

//rage
$title-color: #333333;
$title-fs: 24px;

$rage-descr-color: #666666;
$rage-descr-fs: 20px;

$rage-card-fs: 24px;

//products
$badge-sale-bg: #E97171;
$badge-new-bg: #2EC1AC;
$badge-fs: 16px;
$badge-color: #FFFFFF;

$products-title-color: #3A3A3A;
$section-title-fs: 40px;
$products-descr-color: #898989;
$products-cost-fs: 20px;
$products-old-cost-fs: 16px;
$products-old-cost-color: #B0B0B0;
$products-title-fs: 24px;
$products-descr-fs: 16px;
$products-card-bg: #F4F5F7;

$product-option-color: #ffffff;
$product-option-fs: 16px;
$product-btn-bg: #ffffff;

//rooms
$rooms-container-bg: #FCF8F3;
$rooms-descr-color: #616161;
$rooms-desr-fs: 16px;
$rooms-title-bg: rgba(255,255,255,0.8);
$room-title-fs: 28px;
$room-title-color: #3A3A3A;
$carousel-btn-bg: #D8D8D8;
$button-bg: #ffffff;
$button-icon-fs: 24px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin text($color, $fs, $fw, $ff) {
  color: $color;
  font-size: $fs;
  font-weight: $fw;
  font-family: $ff;
  text-decoration: none;
}